@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

img {
    align-items: center;    
    width: 350px;  
    
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


a {
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    margin-top: -4px;       
    color: white;
    background-color: darkred;
    padding: 20px;
    display: block;
    font-family: 'Play', sans-serif;
    
}

a:hover {
    background-color: red;
}
      