@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Tangerine:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: rgba(38, 38, 235, 0.308);
    --cor1: rgba(57, 32, 199, 0.973);
    --cor2: rgb(255, 255, 255);
    --cor3: rgb(238, 40, 5);
    --cor4: rgb(9, 243, 223);
    --font-padrão: 'Play', sans-serif;
    --font-titulos:'Artifika', sans-serif;
    --font-destaque:'Audiowide', cursive, sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
   
}

body {
    font-family: var(--font-padrão);
        
}

main{
    height: 1200px;
}

header{
    background:url('../imagens/fundo-01.jpg') bottom center no-repeat;
    background-size: cover;
    text-align: center;
    font-family: var(--font-destaque);
    color: var(--cor1);
    font-size: 1em;
    margin-bottom: 50px;
}



section#cabecalho {
    background-color: var(--cor0);
    padding: 30px;
}

section#cabecalho nav > a {
    text-decoration: none; 
    font-weight: lighter;
    font-size: 1em;
    color: var(--cor2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.836);
    padding: 0px 10px 0px 10px;
}

section#cabecalho nav > a:hover{
    color: var(--cor3);
}


nav a#botao-tema img{
    border-radius: 50%;
    width: 13px;
    margin: 16px 0px auto 0px;
    border: 1px solid var(--cor3);
}

nav a#botao-tema img:hover {
    border: 2px solid var(--cor3);

}

h1 {
    padding: 30px 0px 30px 0px;
    text-shadow: 1px 2px 1px black;
    font-weight: bold;
    font-size: 2em;
    
}

h2{
    margin:30px 0px 0px 10px;
}

h3 {
    max-width: 300px;
    font-size: 0.8em;
    text-align: center;
    margin: 10px auto -35px auto;
    padding: 10px 0px 5px -40px;
    color: var(--cor1);

}

p { max-width: 90vw;
    text-align: justify;
    text-indent: 30px;
    padding: 5px;
    margin: 30px 10px 50px 10px;
    font-size: 1.2em;
}

section#destaque {
    margin:auto; 
    max-width: 90vw;
}


section#texto{
    margin: auto;
    max-width: 800px;
}


#destaque-texto {
    background:url('../imagens/decoration-01.png')center center no-repeat;
    background-size:contain;
    padding: 40px;
    width: 140px;
    margin-bottom: -32px;
    color:var(--cor2);
    font-size: 1.6em;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.836);

}

.orange, #destaque-texto:hover{
    color: var(--cor3);
}

#comentarios{
   background-color: rgba(127, 255, 227, 0.459);
   width: 370px;
   padding: 50px 0px 12px 12px;
   margin: auto;
   border-radius: 5px 250px 5px 30px;
}

iframe{
    padding: 0px;
    margin: 0px;
    height: 229px;
    width: 350px;
    margin: auto;
    border-radius: 30px 10px 30px 5px;
}

iframe#mapa {
    border-radius: 0px;
    max-width: 300px;
}




footer{
    height:40vh;
    bottom: 0;
    text-align: center;     
}

footer div p, footer div p a, footer div h2, footer div h2 a{
    color: white;
    font-size: 1em ;    
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    margin: auto;

}


a:hover {
    color: var(--cor3);
}   

#back-footer{    
    background-color: rgba(8, 8, 8, 0.877);
    padding: 20px 0px 10px 0px;

}

#creditos {
    width: 80px;
   margin: auto;
}

footer div h2#desenvolvedor {
    padding-bottom: 20px;     
}

footer div h2#desenvolvedor a {
    font-weight: bold;
    font-size: 1.2em; 
}

